{{> page/nav}}
{{> page/title}}
<img src="./assets/Snapshot.png" alt="Snapshot">

<p>Exp project starts from a very simple Node.js CLI app that has a single feature: note down what just flew into my mind.</p>
<p>Well, there are dozens of ready-to-use apps that do exactly this, why did I make this one?</p>
<p>This is proabably just my paranoid but I want an exlusive place to store my thoughts/experiences gained on life, people and the society. All the apps available on the web are just too complicated. There are numerous feature I won't use and I don't want to mix up my technical notes with these. Hence this app.</p>
<p>In Auguest 2022, I integrated Express.JS so that this app is able to fire up on my localhost. I also made a simple front-end with Express.JS.</p>

{{> page/footer}}