html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  line-height: 1.5;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

nav {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 4em;
  margin-bottom: 16px;
}

nav a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

img {
  width: 100%;
}
